@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-10">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="nombre" />
                <label asp-for="Input.Name">Nombre</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.StreetAddress" class="form-control" aria-required="true" placeholder="direccion" />
                <label asp-for="Input.StreetAddress">Dirección</label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" aria-required="true" placeholder="ciudad" />
                <label asp-for="Input.City">Ciudad</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.State" class="form-control" aria-required="true" placeholder="estado" />
                <label asp-for="Input.State">Estado</label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PostalCode" class="form-control" aria-required="true" placeholder="codigo postal" />
                <label asp-for="Input.PostalCode">Código Postal</label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="direccion" />
                <label asp-for="Input.PhoneNumber">Teléfono</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>


            <div class="form-floating mb-3">                                
                <select class="form-select" asp-for="Input.Role" asp-items="@Model.Input.RoleList">
                    <option disabled selected> -- Selecciona un rol -- </option>
                </select>                
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-2 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                }
                else
                {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                    </p>
                                </div>
                            </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            console.log("IN");
            $('#Input_Role').hide();
            $('#Input_Email').change(function () {
                var text = $('#Input_Email').val();
                if (text.includes('@@swissmex.com'))
                {
                    $('#Input_Role').show();
                }
                else {
                    $('#Input_Role').hide();
                }
            });
        });
    </script>
}
